body {
  font-family: "Lato", sans-serif;
}

.weather-app-wrapper {
  max-width: 450px;
  margin: 50px auto;
}

.weather-app {
  padding: 35px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-image: url("plain_background1.png");
  transition: background-image ease-in-out 750ms;
}

#city {
  text-align: center;
  font-size: 45px;
  line-height: 1;
  color: #ffff;
}

#description {
  text-align: center;
  font-weight: 500;
  color: #ffff;
}

#date {
  text-align: center;
  line-height: 1;
  margin-top: -15px;
  margin-bottom: 20px;
  font-weight: 500;
  color: #ffff;
  opacity: 0.8;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 2;
}

.overview {
  margin-bottom: 30px;
}
.temperature-details {
  color: #ffff;
}

.temperature {
  text-decoration: none;
  font-size: 70px;
  font-weight: 500;
}

.temp-units {
  position: relative;
  top: -37px;
}
.form-control {
  color: black;
  opacity: 0.7;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
}

.btn {
  background-color: rgb(36, 121, 57);
  color: rgb(255, 255, 255, 1);
  opacity: 0.6;
  border-radius: 10px;
  border-color: rgba(36, 121, 57, 0.7);
}

.form-control:focus,
.btn:focus {
  box-shadow: none;
  outline: none;
}
.forecast-left {
  color: #ffff;
}
.forecast {
  border: none;
  border-radius: 8px;
  color: #ffff;
}

#forecast-row {
  background-color: rgba(68, 46, 150, 0.4);
  transition: ease-in-out 750ms;
}

.weather-forecast-day {
  padding-right: 0;
}

.weather-forecast-img {
  padding-left: 0;
}

.weather-forecast-img img {
  float: left;
}

.weather-forecast-temp {
  padding-left: 18px;
  padding-right: 25px;
}

.weather-forecast-temp-min {
  padding-left: 10px;
}
